In [2]:
import pandas as pd
from textblob import TextBlob
import matplotlib.pyplot as plt
import seaborn as sns

Bad key "text.kerning_factor" on line 4 in
C:\Users\Lenovo\anaconda3\envs\excondables\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.2/matplotlibrc.template
or from the matplotlib source distribution

In [3]:
data = pd.read_csv('/Users/Lenovo/Desktop/Womens Clothing E-Commerce Reviews.csv')

In [4]:
data.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [5]:
# filter the data frame to a relevant subset of columns required for our data scenario (image clothing_columns.png)
data = data [['Title', 'Review Text', 'Rating', 'Division Name', 'Department Name']]

In [6]:
data.head()

,Title,Review Text,Rating,Division Name,Department Name
0,NaN,Absolutely wonderful - silky and sexy and comf...,4,Initmates,Intimate
1,NaN,Love this dress! it's sooo pretty. i happene...,5,General,Dresses
2,Some major design flaws,I had such high hopes for this dress and reall...,3,General,Dresses
3,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,General Petite,Bottoms
4,Flattering shirt,This shirt is very flattering to all due to th...,5,General,Tops

In [7]:
# use df.columns.str.lower() (or other preferred method) to standardise your column headers
data.columns=[e.lower().replace(' ', '_') for e in data.columns]  
data.columns

Index(['title', 'review_text', 'rating', 'division_name', 'department_name'], dtype='object')

In [12]:
# EDA - with descriptive statistics (eg describe(), shape, info()) and/or simple charts, explore and familiarise yourself with the data at your own pace - clarify what each column means/contains and what cleaning steps could be employed (and if needed for our scenario)
data.info

<bound method DataFrame.info of                                                    title  \
0                                                    NaN
1                                                    NaN
2                                Some major design flaws
3                                       My favorite buy!
4                                       Flattering shirt
...                                                  ...
23481                     Great dress for many occasions
23482                         Wish it was made of cotton
23483                              Cute, but see through
23484  Very cute dress, perfect for summer parties an...
23485                    Please make more like this one!

                                             review_text  rating  \
0      Absolutely wonderful - silky and sexy and comf...       4
1      Love this dress!  it's sooo pretty.  i happene...       5
2      I had such high hopes for this dress and reall...       3
3      I love, love, love this jumpsuit. it's fun, fl...       5
4      This shirt is very flattering to all due to th...       5
...                                                  ...     ...
23481  I was very happy to snag this dress at such a ...       5
23482  It reminds me of maternity clothes. soft, stre...       3
23483  This fit well, but the top was very see throug...       3
23484  I bought this dress for a wedding i have this ...       3
23485  This dress in a lovely platinum is feminine an...       5

        division_name department_name
0           Initmates        Intimate
1             General         Dresses
2             General         Dresses
3      General Petite         Bottoms
4             General            Tops
...               ...             ...
23481  General Petite         Dresses
23482  General Petite            Tops
23483  General Petite         Dresses
23484         General         Dresses
23485  General Petite         Dresses

[23486 rows x 5 columns]>

In [13]:
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            19676 non-null  object
 1   review_text      22641 non-null  object
 2   rating           23486 non-null  int64
 3   division_name    23472 non-null  object
 4   department_name  23472 non-null  object
dtypes: int64(1), object(4)
memory usage: 12.5 MB

In [17]:
data.isna().sum()

title              0
review_text        0
rating             0
division_name      0
department_name    0
dtype: int64

In [24]:
# use the pandas groupby function to summarise the average rating by division and department as a new dataframe (image clothing_rating_groupby.png)
grouped_data = data.groupby(['division_name', 'department_name']).agg({'rating': ['mean']})

In [26]:
grouped_data = grouped_data.reset_index()

In [27]:
grouped_data

     division_name department_name    rating
                                        mean
0          General         Bottoms  4.263083
1          General         Dresses  4.150079
2          General         Jackets  4.239488
3          General            Tops  4.138255
4          General           Trend  3.875000
5   General Petite         Bottoms  4.336783
6   General Petite         Dresses  4.118314
7   General Petite        Intimate  4.223404
8   General Petite         Jackets  4.322289
9   General Petite            Tops  4.191582
10  General Petite           Trend  3.789474
11       Initmates        Intimate  4.263115

In [44]:
# this dataframe can be easily visualised as a bar chart - do so now (image clothing_rating_chart.png)

import seaborn as sns
sns.set_theme(style="whitegrid")

data = sns.load_dataset("grouped_data")

g = sns.catplot(
    data=grouped_data, kind="bar",
    x="grouped_data", y="rating"
    ci="sd", palette="dark", alpha=.6, height=6
)
g.despine(left=True)
g.set_axis_labels("", "rating (g)")
g.legend.set_title("")

SyntaxError: invalid syntax (<ipython-input-44-58b7682cc130>, line 11)

In [39]:
grouped_data = pd.DataFrame (['division_name', 'department_name']).agg({'rating': ['mean']})

df.pivot("column", "group", "val").plot(kind='bar')

plt.show()

KeyError: "Column 'rating' does not exist!"

In [ ]:

# do a spot /sample check on the review column, index position 5 (hint: iloc/loc/at) to apply textblob over the selected review text (image clothing_sentiment_index5.png) Do this for at least 3 samples to evaluate the accuracy of the sentiment polarity and subjectivity against the text itself

In [ ]:
#for the any selected customer review, use textblob to break out the text into sentences (image clothing_sentences.png)

In [ ]:
#using dropna, remove any rows in your data which contain have null in the review column ( hint your new data will be 22641 rows)

In [ ]:
#define a function with lambda (or other preferred method) to calculate sentiment polarity for each row of the filtered review data set, as a new column on the data frame. (image clothing_sentiment_allrows.png)

In [ ]:
#using the pandas groupby function again, summarise the minimum review polarity, by division and department as a new dataframe (image clothing_min_review.png)

In [ ]:
# visualise this summary as a simple sorted bar chart (image clothing_min_review_chart.png)

In [ ]:

# using the pandas groupby function again, summarise the average review polarity, by division and department as a new dataframe

In [ ]:
# visualise this summary as a simple sorted bar chart

In [ ]:
# tidy up your notebook as much as possible, removing any redundant code, and adding annotations where useful